openapi: 3.1.0
info:
    title: Simple API
    version: 1.0.0
servers:
    - url: 'http://localhost/api'
tags:
    - name: Task
components:
    schemas:
        Task:
            description: For result
            type: object
            required: [ id, title ]
            properties:
                id: {type: integer, example: 1}
                title: {type: string, example: 'Do test work'}
                description: {type: string, example: 'Read description and implement'}
        TaskCreateInput:
            description: For create
            type: object
            required: [ title ]
            properties:
                status: {type: string, example: 'in_progress', description: 'Valid values: new, in_progress, done'}
                title: {type: string, example: 'Do test work'}
                description: {type: string, example: 'Read description and implement'}
        TaskUpdateInput:
            description: For update
            type: object
            required: [ status, title ]
            properties:
                status: {type: string, example: 'in_progress', description: 'Valid values: new, in_progress, done'}
                title: {type: string, example: 'Do test work'}
                description: {type: string, example: 'Read description and implement'}
    parameters:
        TaskId:
            description: Existing task ID
            name: id
            in: path
            schema: {type: integer}
            required: true
    responses:
        Task:
            description: Task
            content:
                application/json:
                    schema:
                        type: object
                        properties:
                            data:
                                $ref: '#/components/schemas/Task'
        ResourceNotFound:
            description: Resource not found
            content:
                application/json:
                    schema:
                        type: object
                        properties:
                            message: {type: string, example: 'Resource not found.'}
        ValidationError:
            description: Validation error
            content:
                application/json:
                    schema:
                        type: object
                        properties:
                            message: {type: string, example: 'The title field must be a string. (and 1 more error)'}
                            errors:
                                type: object
                                example:
                                    title: [ 'The title field must be a string.' ]
                                    description: [ 'The description field must be a string.' ]
paths:
    /tasks:
        get:
            tags: [ Task ]
            description: Get list of tasks
            parameters:
                - name: page
                  in: query
                  schema: {type: integer, default: 1}
            responses:
                200:
                    description: List
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Task'
        post:
            tags: [ Task ]
            description: Create task
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/TaskCreateInput'
            responses:
                201:
                    $ref: '#/components/responses/Task'
                422:
                    $ref: '#/components/responses/ValidationError'
    /tasks/{id}:
        get:
            tags: [ Task ]
            description: Get task
            parameters:
                - $ref: '#/components/parameters/TaskId'
            responses:
                200:
                    $ref: '#/components/responses/Task'
                404:
                    $ref: '#/components/responses/ResourceNotFound'
        put:
            tags: [ Task ]
            description: Update task
            parameters:
                - $ref: '#/components/parameters/TaskId'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/TaskUpdateInput'
            responses:
                200:
                    $ref: '#/components/responses/Task'
                404:
                    $ref: '#/components/responses/ResourceNotFound'
                422:
                    $ref: '#/components/responses/ValidationError'
        delete:
            tags: [ Task ]
            description: Delete task
            parameters:
                - $ref: '#/components/parameters/TaskId'
            responses:
                204:
                    description: Task deleted successfully
                404:
                    $ref: '#/components/responses/ResourceNotFound'
